.footer {
    font-size: 12px;
    line-height: 2.5;
    font-weight: 600;
}

.footer-linked {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    color: #0A66C2
}

.footer-icon-linkedin {
    width: 30px;
    height: 30px;
    color: #0A66C2;
    background-color: white;
}


.footer-elements-links {
    list-style: none;
    padding-left: 2px;
}

.footer-elements-links a {
    color: #616160;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.languageSelector {
    margin-top: 4px;
    border: 2px line #616160;
    height: 20%;
    letter-spacing: 0.5px;
    color: #616160;
    font-weight: 500;
}